aside.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

aside.logo img {
    width: 14.1rem;
    height: 153px;
}

@media (max-width: 576px) {
    .aside.logo img {
        display: none;
    }
}